//COLORS

$secondary-color: rgb(255, 15, 15);
$net: #777;
$font-family: "Lato", sans-serif;
$font-color-heading: rgb(245, 238, 248);
$font-color-sec-heading: rgb(211, 212, 212);
$body-padding: 2rem;
$white: rgb(242, 240, 240);
$black: rgb(14, 14, 14);

//GRID
$grid-width: 114rem;
$grid-space-between-rows: 20rem;
$grid-space-between-items: 4rem;
