.header {
  height: 95vh;

  /* background-image with ',' specify more than one background */
  /* linear-gradient makes color change from former to latter -> directions are first argument */
  background-image: linear-gradient(
      to left bottom,
      rgba($secondary-color, 0.57),
      rgba(247, 250, 59, 0.789)
    ),
    url("../images/cricket.jpg");
  /* background: tomato; */
  /* always try to suit the viewport */
  background-size: cover;
  position: relative;

  background-position: top;
  /* for creating desired shape
      -starts from left-top corner to right-top...
      -polygon(x y,x y....)
    */
  /* or use clippy.com -> get shape from preset layouts */
  /* clip-path: polygon(0 0, 100% 50%, 0 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 4rem 100%, 0 100%);
  // syntax for header__logo-box
  &__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem;
  }
  &__logo {
    width: 40vh;
  }
  &__text-box {
    position: absolute;
    /* position begining of element in center || parent element */

    top: 53%;
    left: 50%;
    /* this will position element right into center -> NEEDS COMMA BETWEEN VALUES*/
    transform: translate(-50%, -50%);

    /* Sets text/content in center of div */
    text-align: center;
  }
}
// .header__logo-box {
// }
// .header__logo {

.heading-primary {
  color: $white;
  text-transform: uppercase;
  text-align: center;

  &--main {
    display: block;
    font-size: 6.5rem;
    font-weight: 800;
    margin-bottom: -16px;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s;
  }

  &--secondary {
    /* for removing some artefacts
       backface-visibility: hidden; */
    display: block;
    font-weight: 400;
    color: $font-color-sec-heading;
    font-size: 2.3rem;

    letter-spacing: 0.6rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    margin-bottom: 60px;
    /* animation-timing-function: ease-out; */
  }
}
.section-about {
  padding: 18rem 0 9rem 0;
  margin-top: -20vh;
  // margin-left: 30vh;
  min-height: 35rem;
  display: block;
}
.section-content {
  transform: skewY(-5deg);
  & > * {
    transform: skewY(5deg);
  }
  border-radius: 2rem;
  background-clip: polygon();
  // margin: 10rem 0;
  background-image: linear-gradient(
    to right,
    $white,
    rgba(224, 47, 145, 0.912),
    $secondary-color
  );
  z-index: -1;
  padding: 15rem 2rem;
  // transform: skewY(-4rem);
  // direct child of feature box -> means row
  // & > * {
  // transform: skewY(-5rem);
  // }
}
.section-cards {
  // background-color: black;
  padding: 25rem 0 50rem 0;
  background-image: linear-gradient();
}
